@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');

/* BODY */
body {
    max-width: 1600px;
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    background-color: #fcfbfb; 

    text-align: center;
    font-family: Rock Salt, Noto Sans Mono, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
    color: var(--headline-color-on-white);
}

/* HEADER */

header {
    background-color:#6b793e; 
    display: grid;
    grid-template-columns: 150px auto;
       
}
nav a:hover {
    background-color: #6b793e;
    color: #d9e0a3;
    padding: 35px;
}    

nav {
    display: flex; 
    justify-content: space-around;
}

.home-title {
 /*  background-color: #6b793e; */
    color: white;
    font-family: "Rock Salt", Serif , sans-serif;
    font-size: 2em;
    margin-top: 10px;

}    

@font-face {
	font-family: "Rock Salt";
	src: url(fonts/RockSalt-Regular.ttf) format('ttf'),
         url(fonts/RockSalt-Regular.ttf) format('tff');
    font-style: normal;
}
 
#logo_link {
    padding-top: 5px; 
    justify-self: center;
    align-self: center;
}

.logo {
    width: 75px;
    height: auto;
}

h2 {
    margin: 0;
    font-family: "Rock Salt", verdana , sans-serif;
	letter-spacing: 15px;
}


h4 {
  /*  background-color: #6b793e; */
    color:#d9e0a3;
}    
.book, .join {
    background-color: #7d5037;
    color: #d9e0a3;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;

}    
.book:hover, .join:hover {
    background-color: #6b793e;
    color: #d9e0a3;
}    

.msg {
    margin: 0 auto;
    padding: 35px;
    text-align: center;
    font-family: "Rock Salt", Serif , sans-serif;
    grid-column: 6 / 10;
    grid-row: 6 / 7;
    box-shadow: 5px 5px 10px #7d5037
}

.msg h2 {
    background-color: #6b793e;
    color: white;
    line-height: 1.5em;
    font-family: "Rock Salt", Serif , sans-serif;
    letter-spacing: +0.03em;
}    
.msg p {
    background-color: #6b793e;
    color: white;
    font-size: .8em;
    line-height: 1.5em;
    padding-bottom: 15px;
}    

/* WIREFRAME */

#wireframe-msg h1 {
    margin-top: 50px;
    font-family: "Rock Salt";
    color:#7d5037;
}

/* HERO */ 

.hero {
    position: relative;
    text-align: center;
    color: white;
}

.hero-img {
    width: 100%;
    height: 420px;
    object-fit: cover;
    filter: brightness(65%);
}

.hero-content {
    position: absolute;
    top: 20%;
    width: 100%;
    color: white;
}


.hero-content h1 {
    font-family: "Rock Salt";
    font-size: 2.2em;
    margin: 0;
}

.hero-content p {
    color: #e6e6e6;
    margin-top: 8px;
}

/* Boxes under hero */
.contact-buttons {
    margin-top: 30px;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.contact-box {
    width: 280px;
    background: white;
    color: #7d5037;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 12px gba(0,0,0,0.25r);
}

.contact-box h3 {
    font-family: "Rock Salt";
    margin-bottom: 40px;
}

.contact-box button {
    margin-top: 10px;
    padding: 10px 15px;
    background: #6b793e;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}


.contact-buttons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.contact-box {
    background: white;
    color: white;
    padding: 20px;
    width: 700px;
    border-radius: 20px;
    box-shadow: 0 0 8px white;
}

.contact-box h3 { margin-bottom: 5px; }

.contact-box button {
    background: #3e4a23;
    color: white;
    border: none;
    padding: 8px 12px;
    margin-top: 10px;
    cursor: pointer;
}

.phone {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

/* CONTACT */ 

.hero {
    position: relative;
    text-align: center;
    color: white;
}

.hero-img {
    width: 100%;
    height: 800px;
    object-fit: cover;
    filter: brightness(75%);
}

.hero-content {
    position: absolute;
    top: 20%;
    width: 100%;
}

.contact-buttons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.contact-box {
    background: white;
    color: #333;
    padding: 20px;
    width: 260px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

.contact-box h3 { margin-bottom: 5px; }

.contact-box button {
    background: #3e4a23;
    color: white;
    border: none;
    padding: 8px 12px;
    margin-top: 10px;
    cursor: pointer;
}

.phone {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

/* CALENDAR */ 
.calendar-section h2 {
    margin-top: 50px;
    font-family: "Rock Salt";
    color:#7d5037;
    letter-spacing: +0.03em;
}

.calendar-box {
    margin: 25px auto;
    width: 70%;
    border: 1px solid #dcdcdc;
    border-radius: 6px;
    margin-bottom: 50px;
}

.calendar-weekday {
    background-color: #7d5037;
    color: white;
    padding: 5px;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.calendar-header {
    background-color: #6b793e;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

.calendar {
    width: 100%;
   border-collapse: collapse; 
}

.calendar th, .calendar td {
    padding: 12px;
    font-size: 18px;
}

.selected {
    background-color: #6b793e;
    color: white;
    border-radius: 50%;
}

.calendar-buttons {
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
}

.calendar-buttons button {
    padding: 8px 20px;
    border: none;
    cursor: pointer;
}

.cancel {
    background: #dcdcdc;
}

.ok {
    background: #6b793e;
    color: white;
}


/* CONTACT FORM */
.form-section {
    background-color: #c6ad95;
    padding: 400px 0;
    margin-top: 400px;
}

.form-section h2 {
    font-family: "Rock Salt";
    letter-spacing: +0.03em;
}

.form-row {
    display: flex;
    justify-content: center;
    gap: 200px;
    margin-top: 400px;
}

.form-row input,
textarea {
    width: 500px;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 4px;
}

textarea {
    height: 500px;
    margin-top: 20px;
}

.send {
    margin-top: 20px;
    padding: 10px 30px;
    background: #6b793e;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 60px;
}

/* MAP */

.footer-map {
    display: flex;
    background: #71813a;
    padding: 40px;
    gap: 30px;
}

.footer-left {
    width: 30%;
    text-align: left;
    color: white;
}

.footer-left h3 {
    font-family: "Rock Salt";
    color: white;
}

.footer-right img {
    width: 100%;
    border-radius: 8px;
}


/* FOOTER */

footer {
    background-color: #6b793e;
    color: #d9e0a3;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}    

footer a {
    background-color: #6b793e;
    color: #d9e0a3;
}    
footer a:hover {
    background-color: #6b793e;
    color: #d9e0a3;
}    

#hero-img{
    width: 100%;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
    z-index: -1;
}

#hero-msg h4 {
    color: white;
}

#rivers {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
	width: 100%;
	height: 800px;
	box-shadow: 0px 4px 4px #71483140;
}

#rivers-img {
    width: 100%;
    height: 900px;    
}

#rivers-box {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
    z-index: -1;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}    

#hero-msg h1, #hero-msg h4 {
    text-align: center;
    color: white;
    margin-top: 50px;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

.button-box {
    text-align: center;
    color: #d9e0a3;
}

main section {
    text-align: center;
    color: #7d5037
}

main section img {
    box-sizing: border-box;
}



main.home-grid {
    display:grid;
    grid-template-columns: repeat(10, 1fr);
}

.book, .join{
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}    
.card-img {
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #7d5037
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.card-img, .mountains {
    width: 100%;    
}

.rivers-card {
    text-align: center;
    color: #7d5037;
    margin: 200px 0;
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    
}

.camping-card {
    text-align: center;
    color: #7d5037; 
    margin: 200px 0;
    grid-column: 5 / 7;
    grid-row: 2 / 3;
}

.rapids-card {
 text-align: center;
    color: #7d5037;  
    margin: 200px 0;
    grid-column: 8 / 10;
    grid-row: 2 / 3;
}

#background {
    height: 725px;
    grid-column: 1 / 11;
    grid-row: 4 / 9;
}

.mountains {
    width: 100%;
    grid-column: 2 / 7;
    grid-row: 5 / 8;
    box-shadow: 5px 5px 10px #7d5037;
}   

/* BOXES UNDER HERO */
.contact-buttons {
    margin-top: 30px;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.contact-box {
    width: 400px;
    background: #6b793e;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 12px rgba(0,0,0,0.25);
}

.contact-box h3 {
    font-family: "Rock Salt";
    margin-bottom: 10px;
}

.contact-box button {
    margin-top: 10px;
    padding: 10px 15px;
    background: #7d5037;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    margin-bottom: 10px;
}


/* CONTACT FORM */
.form-section {
    background-color: #c6ad95;
    padding: 40px 0;
    margin-top: 40px;
}

.form-section h2 {
    font-family: "Rock Salt";
}

.form-row {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 20px;
}

.form-row input,
textarea {
    width: 420px;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 4px;
}

textarea {
    height: 200px;
    width: 60%;
    margin-top: 15px;
}

.send {
    margin-top: 20px;
    padding: 10px 30px;
    background: #7d5037;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}

/* FOOTER */

footer a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}    

footer p {
    font-size: 1.2em;
}  

footer .social img {
    padding-top: 15px;
}

footer p a:hover {
    text-decoration: underline;
}





/* Query */

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
/* End Query */