/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a | */
@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #a58d78 ;
  --secondary-color: #f1e8e4 ;
  --accent1-color: #ceb5a1;
  --accent2-color: #0b0b09; 

  /* change the values below to your chosen font(s) */
  --heading-font: Serif;
  --paragraph-font: sans-serif, Serif, Helvetica;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #0b0b09;  /* headlines on a white background */ 
  --headline-color-on-color: #f1e8e4; /* headlines on a colored background */ 
  --paragraph-color-on-white: #0b0b09; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #f1e8e4; /* paragraph text on a colored background */ 
  --paragraph-background-color: #a58d78  ;
  --nav-link-color: #0b0b09;
  --nav-background-color: #ceb5a1;
  --nav-hover-link-color: #f1e8e4;
  --nav-hover-background-color: #a58d78 ;
}


/*  Look around below...but DON'T CHANGE ANYTHING! */

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  text-align: center;
}
img {
  display: block;
  margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}
h2 {
  text-align: center;
}
hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}
header {
  padding: 1em;
  text-align: center;
  color: var(--headline-color-on-color);
  background-color: var(--paragraph-background-color);
}
header > h1, header > h2 {
  color: var(--headline-color-on-color);
}

p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color-on-white);
  padding: 1em;
}
.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}
.colors th {
  background-color: #999;
}
.colors td{
  width: 25%;
  height: 3em;
}

.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2{
  background-color: var(--accent2-color);
}

p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}

/* HEADER */

nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
}
nav  {
  list-style-type: none;
  display: flex;
  justify-content: center;

}
nav a {
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;
  color: var(--nav-hover-background-color);
  font-weight: 600;
  font-size: 1.1rem;
}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

/* LOGO SECTION */
.logo-section {
  width:80%;
  display:inline-flex;
 
  flex-direction: row;
  align-items: center;
}

.logo-section h1{
  color:#a58d78;
  
  text-align: center;
}

.logo-img {
  width: 250px;
}

.book-btn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 12px 30px;
  margin-top: 10px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.book-btn:hover {
  background-color: var(--accent2-color);
}

/* GALLERY */
.gallery {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.gallery img {
  width: 30%;
  height: 320px;
  object-fit: cover;
  border-radius: 4px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

/* PORTRAITS TEXT BOX */
.portraits h1 {
  margin-top: 15px;
  color:#a58d78;
}

.portrait-text {
  background-color: var(--secondary-color);
  padding: 20px 40px;
  width: 85%;
  margin: 20px auto;
  border-radius: 6px;
  line-height: 1.7;
  font-size: 18px;
  font-family: var(--paragraph-font);
  margin-bottom: 80px;
}

/* OUR STORY */
.story-grid {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 20px 40px;
  align-items: center;
}

.story h1 {
  margin-bottom: 10px;
  color: #a58d78;
}

.story-grid img {
  width: 45%;
  height: 350px;
  object-fit: cover;
  border-radius: 6px;
}

.story-box {
  width: 45%;
  text-align: left;
  background-color: var(--secondary-color);
  padding: 25px;
  border-radius: 6px;
  margin-bottom: 60px;
}

.story-box h3 {
  text-align: center;
  
}

.read-btn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 22px;
  margin-top: 15px;
  cursor: pointer;
  border-radius: 4px;
}

.read-btn:hover {
  background-color: var(--accent2-color);
}

/* CONTACT SECTION */
.contact-box {
  background-color: var(--secondary-color);
  width: 60%;
  margin: 0 auto;
  padding: 30px;
  border-radius: 6px;
  margin-bottom: 80px;
}
.contact-section h1 {
  margin-bottom: 20px;
  color: #a58d78;
}
.contact-box h1 {
  margin-bottom: 10px;
}

/* FOOTER */ 

footer {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
}
footer  {
  list-style-type: none;
  display: flex;

}
footer a {
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;

}
footer a:link, nav a:visited {
  color: var(--nav-link-color);
}
footer a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}


/* SITE MAP */

.sitemap {
  display: grid;
  justify-content: center;

  grid-template-columns: repeat(6, 15%);
  grid-template-rows: 3em 1.5em 1.5em 3em;
  grid-template-areas: ". . home home . ."
    ". . . top . ."
    ". left left right right ."
    "page2 page2 . . page3 page3";
}
.sitemap > div {

  text-align: center;

}
.sm-home {
  grid-area: home;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page2 {
  grid-area: page2;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page3 {
  grid-area: page3;
  background-color: #ccc;
  line-height: 3em;
}

.top {
  grid-area: top;
  border-left: 1px solid;
}

.left {
  grid-area: left;
  border-top: 1px solid;
  border-left: 1px solid;
}

.right {
  grid-area: right;
  border-top: 1px solid;
  border-right: 1px solid;
}